
export KEY_DOUBLE="extra $ENVVAR value" # comment
set KEY_UNQUOTED=extra${ENVVAR}value # comment

KEY_UNQUOTED_HASH=value#notcomment #actualcomment

KEY_MULTILINE="value
and more"
OTHER_MULTILINE='#not_comment
line2'

WHITE_PRE     =value
WHITE_POST=    value
WHITE_BOTH  =  value
WHITE_QUOTED=" value "
